:root.theme-light {
  --project-bg-image: none;
  --project-title-color: #ffc2e6;
  --project-accent-bg: #ff8dcb;
  --project-text-color: #353430;
  --project-bg-page: #fff1f7;
  --project-button-color: #353430;
  --project-par-color: #353430;
  --project-par-main-color: #353430;
  --project-subtitles-color: #353430;
  --project-title-main-color: #353430;
  --project-label-color: transparent;
  --project-rec-display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --project-bg-image: none;
    --project-title-color: #ffc2e6;
    --project-accent-bg: #ff8dcb;
    --project-text-color: #f1b2ce;
    --project-bg-page: #fff1f7;
    --project-button-color: #353430;
    --project-par-main-color: #353430;
    --project-subtitles-color: #353430;
    --project-title-main-color: #353430;
    --project-label-color: transparent;
    --project-rec-display: none;
  }
}