:root {
  --bg-url: url('../images/cover-image-dark.png');
  --bg-color: #000028;
  --accent-bg: #ff0070;
  --accent-text: #000028;
  --text-color: #f1b2ce;
  --accent-color: #ff0070;
  --title-shadow: #ff0070;
  --title-color: #db00ff;
  --border-color: #ff0070;
  --border-hover: rgba(255, 0, 112, 0.4);
  --rec-visible: inline-block;
}