:root {
  --project-bg-image: url('../images/cover-image-dark.png');
  --project-title-color: #DB00FF;
  --project-accent-bg: #FF0070;
  --project-button-color: #FF0070;
  --project-text-color: #FF0070;
  --project-subtitles-color: #000028;
  --project-bg-page: #000028;
  --project-par-color: #000028;
  --project-par-main-color: #F1B2CE;
  --project-title-main-color: #FF0070;
  --project-label-color: #FF0070;
  --project-rec-display: inline-block;
}